.analysis
.entities
.local
.objects
.project
.settings
.templates
.tmh
Exception_Screenshots
Documentation
Data/Output
Data/Temp
Tests/RunAllTests.xaml
Tests/RunAllTests_Logging.xaml
Tests/TestLog.txt
Tests/Tests.xlsx
